<!DOCTYPE html>
<html>
  <head>
    <script src="https://sdk.inbenta.io/search/1.44.1/inbenta-search-sdk.js" integrity="sha384-yFsHP1LPyfIli+Y7ERBjJTzcvlxpFY7saDHfu6Be8dMjUB4FkfQlHMTZOXA/nu4j" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <title>Search test</title>
  </head>
  <body>
    <div class="container">
      <div id="search-box"></div>
      <div id="stats"></div>
      <div id="no-results"></div>
      <div id="results"></div>
      <div id="loader"></div>
      <div id="pagination"></div>
    </div>

    <script type="text/javascript">
      /* CREDENTIALS */
      var domainKey = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJwcm9qZWN0Ijoib2RldmlsbGFyZGlfc2VhcmNoX2ZyIiwiZG9tYWluX2tleV9pZCI6IkJjVEtrVEF6cVdBQUYtXzBTR1cwRFE6OiJ9.QcAf25mhxECcEAPUCccSleR-RuEOubk7Codw9_jJXAnAPUfLV_005C4VD6wgXDu7eqwDu3KwkvHzhVOreUjb9w';
      var inbentaKey = 'BcLWsT+lmo6lgnoVrvDufTLwmC9wV57VmRUaPTWyLDw=';
      var config = {
        skin: "ocean-flow"
      };
      var sdk = InbentaSearchSDK.createFromDomainKey(domainKey, inbentaKey, config);
      
      var searchOptions = {
        autofocus: true,
        autocompleter: true
      };
      var searchBox = sdk.component('search-box', '#search-box', searchOptions);

      // var semanticAutocompleter = sdk.component('semantic-autocompleter', '#semantic-autocompleter');
      // semanticAutocompleter.setInputElement(searchBox.getInputElement());

      var resultsOptions = {
        resultsPerPage: 5
      };

      var results = sdk.component('results', '#results', resultsOptions);
      results.linkTo(searchBox);

      var statsOptions = {
        templates: {
          body: '<strong>{{ totalResults }}</strong> resultats pour : {{ query }}',
          bodyRetryQuery: '<strong>{{ totalResults }}</strong> resultats pour : {{ retryQuery }} puisque {{ query }} n’avait aucun résultat.',
        }
      };

      var stats = sdk.component('stats', '#stats', statsOptions);
      results.linkTo(stats);

      // var router = sdk.component('router', '#router');
      // results.linkTo(router);

      var noResults = sdk.component('no-results', '#no-results');
      results.linkTo(noResults);

      var loader = sdk.component('loader', '#loader');
      results.linkTo(loader);

      var paginationOptions = {
        padding: 3
      };

      var pagination = sdk.component('pagination', '#pagination', paginationOptions);
      results.linkTo(pagination);

      /* var generalOptions = {
        pagination: {
          padding: 7
        },
        results: {
          resultsPerPage: 5
        },
        router: 1
      };

      sdk.build('#inbenta', generalOptions); */
    </script>
  </body>
</html>
